@model Flight_Tracker.Models.Airport

@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    
    <thead>
        <tr>
            <th>
                Airport
            </th>
            <th>
                TSA Wait Time
            </th>
            <th>
                TSA Precheck Wait Time
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.code</td>
            <td>@Model.rightnow</td>
            <td>@Model.precheck</td>
        </tr>
    </tbody>
</table>
